#form {
    display: block;
    width: auto;
    max-width: 300px;
    text-align: center;
    margin: 30px auto;
}
.text-input {
    width: 245px;
    font-size: 22px;
    text-align: center;
    padding: 4px 15px;
    border-radius: 25px;
    background: white;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
}
.text-input:hover {
    background-color: #dd6000;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
}