#logo img {
    display: block;
    text-align: center;
    margin: auto;
    max-height: 200px;
    mix-blend-mode: multiply;
}
#logo_title img {
    display: block;
    text-align: center;
    margin: -35px auto 0;
    max-height: 100px;
}
body {
    width: auto;
    background-image: url("bottles_template_background3.png");
}
#background {
    opacity: 0.2;
}