<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AlcoManager Main Page</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div th:replace="~{fragments.html :: logo}"></div>
    <div th:replace="~{fragments.html :: logo_title}"></div>
    <div th:replace="~{fragments.html :: loggedInfo}"></div>
    <div class="menu">
        <a href="/login" class="button">Zaloguj</a>
        <a href="/register" class="button">Zarejestruj</a>
        <a href="/about" class="button">O programie</a>
        <a href="/demo" class="button">Wersja demonstracyjna</a>
    </div>
</body>
</html>